body {
  background-color:black;
}

.text {
  color: yellow;
  font-size: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.boxs a img {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding-top: 100px;
}

.boxs {
    width: 70%;
    background-color: red;
    margin: 0 auto;
    margin-top: 150px;
}

.c1 {
    width: 8.333%;
    height: 300px;
    float: left;
    background-color: #CBCBCB;
    position: relative;
}

.c2 {
    width: 16.666%;
    height: 300px;
    float: left;
}

.c2-top {
    height: 150px;
    position: relative;
}

.c2-bottom {
    height: 150px;
    position: relative;
}





.c21 {
    background-color: #BFBFBF;
}

.c22 {
    background-color: #A9A9A9;
}

.c31 {
    background-color: #A9A9A9;
}

.c32 {
    background-color: #888888;
}

.c41 {
    background-color: #636363;
}

.c51 {
    background-color: #4F4F4F;
}

.c52 {
    background-color: #434343;
}

.c61 {
    background-color: #3A3A3A;
}

.c71 {
    background-color: #343434;
}

.c81 {
    background-color: #1E1E1E;
}

.c82 {
    background-color: #161616;
}

.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12 {
  position: absolute;
  top: 0;
  left: 0;
}


.boxs img {
    display: none;
}